rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId}/tasks/{taskId} {      
     allow create, read, update, delete: if 
        isCurrentUser(userId)        
     }
     match /emails/{emailId} {      
     allow create, read, update, delete: if 
        request.auth != null && request.auth.uid == request.resource.data.uid;      
   }     
   }
  
}

function isCurrentUser(userId){
   return request.auth != null && request.auth.uid == userId;
}

