.task-section {
	padding: 2rem 1rem;

	& .create-task {
		margin-left: auto;
	}

	& > p {
		text-align: center;
		margin-top: 2rem;
	}
}

@media (min-width: 768px) {
	.task-section {
		padding: 2rem 2rem;
		max-width: 75rem;
		margin-inline: auto;
	}
}
