:root {
	--text-color: rgb(249, 249, 249);
	--background-color: rgb(36, 36, 36);
	--primary: hsl(187, 22%, 31%);
	--secondary: #2c2c2b;
	--accent: #7886a9;

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-weight: 400;

	color-scheme: light dark;
	color: var(--text-color);
	background-color: var(--background-color);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

a {
	font-weight: 500;
	color: var(--text-color);
	text-decoration: underline;
}

body {
	line-height: 1.5;
	min-width: 320px;
	height: 100vh;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root {
	height: 100%;
}

@media (prefers-color-scheme: light) {
	:root {
		--text-color: #242424;
		--background-color: rgb(249, 249, 249);
		--primary: #9fbdc1;
		--secondary: #d3d4d3;
		--accent: #566286;
	}
}

/* Targetting mobile and tablet screens */
@media (max-width: 767px) {
	html {
		font-size: 14px;
	}
}
