.login-section {
	--background-url: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
		url("../../../public/assets/dark-background.jpg");

	background: var(--background-url);
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;

	display: grid;
	place-items: center;
}

@media (prefers-color-scheme: light) {
	.login-section {
		--background-url: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
			url("../../../public/assets/light-background.jpg");
	}
}
